<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="pulsestorm_factorytest" frontName="pulsestorm_factorytest">
            <module name="Pulsestorm_FactoryTest"/>
        </route>
    </router>
</config>
